export(fit_feature_encoder)
export(encode_features)
export(fit_feature_scaler)
export(scale_features)
export(fit_domain_adjuster)
export(adjust_features)
export(fit_domain_projector)
export(project_features)
export(project_new_sample)
export(fit_cross_domain)
export(transform_cross_domain)
export(tune_cross_domain)
export(diagnose_cross_domain)
export(fit_domain_method)
export(lambda_diagnostics)
export(simulate_domain_data)
importFrom(stats,setNames)
S3method(print,domain_adjuster)
S3method(print,domain_projector)
S3method(print,cross_domain_fit)
